body{
    background:#f1f1f1;
    color: #444444;
    margin:0px;
}
#markdown-preview{
    margin:0px auto;
    color: #000;
    padding-left: 30px;
    padding-right:30px;
}
#markdown-preview h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 22px;
}
#markdown-preview p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    padding-left:10px;
}
#markdown-preview pre {
    border: 1px solid #c7cfd5;
    background: #f1f5f9;
    margin: 20px 0;
    padding: 8px;
    text-align: left;
}
#markdown-preview ul {
    list-style: circle;
    list-style-position: outside;
    margin: 0px 0px 0px 30px;
    padding: 0 0 0px 20px;
}
#markdown-preview ul li{
    margin-bottom: 10px;
    margin-left:10px;
    font-size:14px;

}
#markdown-preview ul li p{
    margin:0px 0px 10px 0px;
    padding-left:0px;
    font-size:14px;
}
#markdown-preview ul li table{
    margin-top:14px;
    border-collapse: collapse;
    border-spacing: 0;
}
#markdown-preview h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left:1px;
    padding-bottom:3px;
    font-size: 18px;
    color: #000;
    border-bottom: 1px solid #cecece;
}

/* table */

#markdown-preview table {
    background: transparent;
    border-collapse: collapse;
}

#markdown-preview table th {
    padding: 4px 8px 4px 8px;
    background: #E2E2E2;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #919699;
    border-collapse: collapse;

}

#markdown-preview table th p {
    font-weight: bold;
    margin-bottom: 0px;
}

#markdown-preview table td {
    padding: 8px 8px 4px 8px;
    font-size: 12px;
    vertical-align: top;
    border-style: solid;
    border-width: 1px;
    border-color: #919699;
    border-collapse: collapse;
}

#markdown-preview table tr {
    padding: 8px;
    font-size: 12px;
    vertical-align: top;
}

#markdown-preview table td p {
    margin-bottom: 0px;
}

#markdown-preview table td p + p {
    margin-top: 5px;
}

#markdown-preview table td p + p + p {
    margin-top: 5px;
}

/* forms */

#markdown-preview form {
    margin: 0;
}

#markdown-preview button {
    margin: 3px 0 10px 0;
}

#markdown-preview input {
    vertical-align: middle;
    padding: 0;
    margin: 0 0 5px 0;
}

#markdown-preview select {
    vertical-align: middle;
    padding: 0;
    margin: 0 0 3px 0;
}

#markdown-preview textarea {
    margin: 0 0 10px 0;
    width: 100%;
}